.preact-richtextarea {
	display: block;
	width: 100%;
	min-height: 22px;
	padding: 2px;
	background-color: white;
	border: 1px solid;
	resize: auto;
	cursor: text;
	overflow: auto;
}

.preact-richtextarea iframe {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	border: 0 !important;
	background: none !important;
	overflow: hidden;
}

.preact-richtextarea[is-placeholder] iframe {
	opacity: 0.5;
}
